# Ignoriere alle Dateien und Ordner in Daten/ ausser Textdaten
Daten/Bilddaten/
Daten/Metadaten/
Daten/Textdaten/

# Falls du auch Metadaten und Textdaten ignorieren willst:
# Daten/Metadaten/
# Daten/Textdaten/

# Ignoriere den faiss_index-Ordner
faiss_index/
